.attribution {
    font-size: 11px;
    text-align: center;
    position: relative;
    bottom: 0px;
    top: 120px;
    padding: 1rem;
  
    a {
        color: $softPink;
        text-decoration: none;
    }
}
  