html{
    font-family: 'Spartan', sans-serif;
    font-size: $defaultSize;

    background-image: url('/images/bg-pattern-top-desktop.svg'), url('/images/bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat;
    background-position: -220px top, -456px bottom;

    @include breakpoint-up(large){
        background-image: url('/images/bg-pattern-top-desktop.svg'), url('/images/bg-pattern-bottom-desktop.svg');
        background-repeat: no-repeat;
        background-position: left top, right bottom;
    }
}


body{
    margin: 80px 24px 100px 24px; 

    @include breakpoint-up(large){
        margin: 7.5rem 9.8125rem 7.5rem 9.8125rem;
    }
}


//--------------TEXT--------------
h1{
    color: $veryDarkMagenta;
}

p{
    line-height: 1.6;
    font-weight: 500;
}
